/ FIXME: consider renaming
#activities.columns{ :class => "#{columns}" }
  %h2 Activities
  %h3 Local groups
  %ul
    %li= link_to "Pittsburgh.rb", "http://pghrb.heroku.com/"
    %li= link_to "Pittsburgh Agile", "http://www.meetup.com/PittsburghAgile/"
  %h3 Recent conferences
  %ul
    %li= link_to "CodeMash 2012", "http://codemash.org/"
    %li= link_to "Ruby Nation 2011", "http://www.rubynation.org/"
    %li= link_to "JRubyConf 2010", "http://www.jrubyconf.com/"
