%ul.social
  %li.twitter
    = link_to "Twitter", "http://twitter.com/juliepagano"
  %li.github
    = link_to "Github", "http://github.com/juliepagano"
  %li.linkedin
    = link_to "LinkedIn", "http://www.linkedin.com/pub/julie-pagano/8/57b/aaa"
  %li.facebook
    = link_to "Facebook", "http://www.facebook.com/julie.pagano"
  %li.googleplus
    = link_to "Google+", "http://plus.google.com/106821554349844606311"
  %li.tumblr
    = link_to "Tumblr", "http://juliepagano.tumblr.com/"
