---
pageable: true
per_page: 50
title: Writing
---
<section id="writing-list">
  <h1>Writing</h1>
  <p>My thoughts here and on social media are my own and <strong>not</strong>
    those of my employer or other organizations I participate in.</p>

  <% if paginate %>
    <p>Page <%= page_number %> of <%= num_pages %></p>

    <% if prev_page %>
      <p><%= link_to 'Previous page', prev_page %></p>
    <% end %>
  <% end %>

  <% page_articles.each_with_index do |article, i| %>
    <ul>
      <li>
        <h2><%= link_to article.title, article %></h2>
        <div class="article-details">
          <div class="article-date">
            <%= article.date.strftime('%Y-%m-%d') %>
          </div>
          <!--ul class="tags">
            <% article.tags.each do |tag| %>
              <%= link_to tag, tag_path(tag) %>
            <% end %>
          </ul-->
        </div>
      </li>
    </ul>
  <% end %>

  <% if paginate %>
    <% if next_page %>
      <p><%= link_to 'Next page', next_page %></p>
    <% end %>
  <% end %>
</section>
