---
pageable: true
per_page: 10
title: Writing
---

<% if paginate %>
  <p>Page <%= page_number %> of <%= num_pages %></p>

  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page, :relative => true  %></p>
  <% end %>
<% end %>

<% page_articles.each_with_index do |article, i| %>
  <div>
    <%= link_to article.title, article, :relative => true  %>
    <%= article.body %>
    <ul>
      <% article.tags.each do |tag| %>
        <%= link_to tag, tag_path(tag)  %>
      <% end %>
    </ul>
  </div>
<% end %>

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>

