---
title: Julie Pagano
---
<p>Hi! My name is Julie. Welome to my little corner of the internet.</p>

<section id="recent-posts">
  <h2>
    <i class="fa fa-pencil-square"></i> Recent Writing
  </h2>
  <ul>
    <% blog.articles[0...3].each do |article| %>
    <li>
      <h3><%= link_to article.title, article %></h3>
      <div class="article-details">
        <div class="article-date">
          <%= article.date.strftime('%Y-%m-%d') %>
        </div>
      </div>
    </li>
    <% end %>
  </ul>
  <%=link_to "<i class=\"fa fa-angle-double-right\"></i> more writing", "/blog.html" %>
</section>

<section id="upcoming-events">
  <h2>
    <i class="fa fa-calendar"></i> Upcoming Events
  </h2>
  <ul>
    <li>
      <h3>
        <%= link_to "Open Source Bridge", "http://opensourcebridge.org/" %>
      </h3>
      <div class="article-details">
        <div class="article-date">
          June 24-27, 2014 - Portland, OR
        </div>
      </div>
    </li>
    <li>
      <h3>
        <%= link_to "Madison Ruby", "http://madisonpl.us/ruby/" %>
      </h3>
      <div class="article-details">
        <div class="article-date">
          August 22-23, 2014 - Madison, WI
        </div>
      </div>
    </li>
  </ul>
</section>
