<!DOCTYPE html>
%html
  %head
    <meta charset="utf-8">
    <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    = stylesheet_link_tag "fonts/bebas_neue/stylesheet.css"
    = stylesheet_link_tag "fonts/league_gothic/stylesheet.css"
    = stylesheet_link_tag "skeleton/base.css"
    = stylesheet_link_tag "skeleton/skeleton.css"
    = stylesheet_link_tag "skeleton/layout.css"
    = stylesheet_link_tag "site.css"
    = stylesheet_link_tag "github-timeline-widget.css"
    = javascript_include_tag "jquery-1.7.1.min.js"
    = javascript_include_tag "jquery.timeago.js"
    = javascript_include_tag "jquery.ThreeDots.js"
    = javascript_include_tag "helpers.js"
    = javascript_include_tag "handlebars-0.9.0.pre.5.js"

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-4744967-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    = yield_content :head

  %body{ :class => page_classes }
    = partial "header"

    %div#main{ :role => "main" }
      %div#page_title
        %div.container
          = yield_content :page_title
      %div.container
        = yield

    = partial "footer"


  = javascript_include_tag "twitter"
  = javascript_include_tag "http://twitter.com/javascripts/blogger.js"
  = javascript_include_tag "http://api.twitter.com/1/statuses/user_timeline.json?screen_name=juliepagano&callback=twitterCallback&include_rts=true&count=3"
  = javascript_include_tag "wp_blog.js"
  = javascript_include_tag "http://cdn.lanyrd.net/badges/person-v1.min.js"
  = javascript_include_tag "github-timeline-widget.js"
  :javascript
    $(function() {
      var options = {
        'username': 'juliepagano',
        'limit': 5,
        'user_id': false // set to false to exclude (user #)
      };
      $("#github_activity").githubTimelineWidget(options);
    });
